.content__text {
  display: grid;

  @include page-grid;
}

.contacts {
  @include content-padding-inline;

  &__text {
    display: grid;
    row-gap: 16px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 9;
    }

    &__adresse {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 4 / 3;
      }

      @include on-desktop {
        grid-column: 4 / 7;
      }
      &__text1 {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0;
      }
      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0;
      }
    }
    &--name {
      color: #7e7e83;
      width: 278px;
      height: 48px;
      top: 3816px;
      padding-left: 22.04px;
      border-radius: 40px;
      font-weight: 400;
      font-size: 14px;

      line-height: 20px;
      letter-spacing: 0;

      @include on-desktop {
        width: 411px;
      }
    }
    &--email {
      color: #7e7e83;
      width: 278px;
      height: 48px;
      top: 3880px;
      padding-left: 22.04px;
      border-radius: 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;

      @include on-desktop {
        width: 411px;
      }
    }
    &--message {
      color: #7e7e83;
      width: 278px;
      height: 148px;
      top: 3944px;
      padding-left: 22.04px;
      gap: 10px;
      border-radius: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;

      @include on-desktop {
        width: 411px;
      }
      &:hover {
        color: #292929;
      }
      &::placeholder {
        color: #292929;
        outline: none;
      }
    }
    &__button {
      display: grid;
      background-color: #fff;
      width: 280px;
      height: 56px;
      top: 4124px;
      left: 20px;

      @include on-desktop {
        width: 411px;
      }

      opacity: 1;
      border-radius: 40px;
      padding-right: 48px;
      padding-left: 48px;
      font-weight: 700;

      font-size: 16px;

      line-height: 27px;
      letter-spacing: 0;
      text-align: center;

      margin-top: 48px;
      &:hover {
        box-shadow: 1px 4px 16px 0 #e8e8f066;
      }
      &:active {
        box-shadow: 1px 4px 16px 0 #e8e8f0a3;
      }
    }
  }
}
