.details {
  @include content-padding-inline;
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;

  }
  &__link {

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }

    }

  }

  &__photo {
    width: 100%;
    height: 100%;
    transition: transform 300ms;
    &:hover {
      transform: scale(1.05);
    }
    &--deko {
      top: 2185px;
      left: 699px;
    }

  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
}

.button {
  display: grid;
  background-color: #fff;
  width: 278px;
  height: 56px;
  top: 3600px;
  left: 22px;

  @include on-tablet {
    width: 392px;
    top: 4032px;
    left: 176px;
  }

  @include on-desktop {
    width: 324px;
    top: 3346px;
    left: 468px;
  }

  opacity: 1;
  border-radius: 40px;
  padding-right: 48px;
  padding-left: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  margin: auto;
  margin-top: 48px;
  border: none;
  outline: none;
  &:hover {
    box-shadow: 1px 4px 16px 0 #e8e8f066;
  }
  &:active {
    box-shadow: 1px 4px 16px 0 #e8e8f0a3;
  }
}
