.header {
  display: flex;

  @include header-paddings;
  @include hero-bg;

  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  &__logo {
    @include logo-bike;

    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    background-image: url(../images/header/logo.svg);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__icons {
    display: flex;

    @include icons-gap;
  }
  &__bottom--box {
    margin: 0;

    @include header-bottom;
  }
  &__logo--menu {
    background-image: url(../images/menu/Property\ 1=Menu_logo.png);

    @include logo-bike-menu;
  }
}

.logo {
  display: block;

  @include logo-icon;
  &--contact {
    position: relative;
    background-image: url(../images/header/Icon-Phone-call.png);

    &::after {
      display: flex;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      content: '+1 234 5555-55-55';
      width: 190px;
      height: 32px;
      align-items: center;
      opacity: 1;
      right: 20px;

      transition: transform 0.3s;
      transform: scale(0);
    }
    &:hover::after {
      transform: scale(1);
    }
  }
  &--menu {
    background-image: url(../images/header/Icon-Burger-menu.png);
  }
  &--menu:hover {
    background-image: url(../images/header/Icon-Burger-menu-hover.png);
  }
  &--close {
    background-image: url(../images/menu/Icon-Close.png);
  }
}
