@mixin hero-bg {
  background-image: url(../images/header/Cover_photo.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $bp-desktop) {
    background-position: center;
    height: $hero-height-tablet;
  }

  @media (max-width: $bp-tablet) {
    background-position: right center;
    height: $hero-height-phone;
  }
}

@mixin logo-icon {
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $bp-tablet) {
    width: $icon-width-phone;
    height: $icon-width-phone;
  }

  @media (min-width: $bp-tablet) {
    width: $icon-width-desktop;
    height: $icon-width-desktop;
  }
}

@mixin icons-gap {
  display: flex;

  @media (max-width: $bp-tablet) {
    gap: $icon-width-phone;
  }

  @media (min-width: $bp-tablet) {
    gap: $icon-width-desktop;
  }
}

@mixin logo-bike {
  display: flex;

  @media (min-width: $bp-tablet) {
    width: 187px;
    height: 56px;
  }

  @media (max-width: $bp-tablet) {
    width: 130px;
    height: 38px;
  }
}

@mixin header-paddings {
  padding: 36px 120px;

  @media (max-width: $bp-desktop) {
    padding: 36px 72px;
  }

  @media (max-width: $bp-tablet) {
    padding: 24px 20px;
  }
}

@mixin header-bottom {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
  position: relative;
  top: -235px;
  font-size: 80px;

  @media (max-width: $bp-desktop) {
    top: -134px;
    font-size: 64px;
  }

  @media (max-width: $bp-tablet) {
    font-size: 36px;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

@mixin logo-bike-menu {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 187px;
  height: 56px;

  @media (max-width: $bp-tablet) {
    width: 130px;
    height: 38px;
  }

  @media (max-width: $bp-desktop) {
    width: 130px;
    height: 38px;
  }
}

@mixin menu-paddings {
  padding: 36px 120px;

  @media (max-width: $bp-desktop) {
    padding: 36px 72px;
  }

  @media (max-width: $bp-tablet) {
    padding: 24px 20px;
  }
}

@mixin menu-font-weight {
  font-weight: 700;

  @media (max-width: $bp-desktop) {
    font-weight: 600;
  }
}

@mixin magrin-bottom {
  margin-bottom: 24px;

  @media (max-width: $bp-desktop) {
    margin-bottom: 8px;
  }

  @media (max-width: $bp-tablet) {
    margin-bottom: 24px;
  }
}

@mixin margin-left-menu {
  padding-left: 121px;

  @media (max-width: $bp-desktop) {
    padding-left: 72px;
  }

  @media (max-width: $bp-tablet) {
    padding-left: 20px;
  }
}

@mixin on-tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    padding-inline: 120px;
    margin-inline: auto;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}
